/**
 * @file card.css — Card component
 */
@layer components {
  .card {
    background-color: var(--card-background-color);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    border: 1px solid var(--card-border-color);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  }
}
